<?xml version="1.0" encoding="UTF-8"?>
<widget id="io.cordova.hellocordova">
	<name>Locks</name>
	<description>Simple lock puzzle</description>
	<author href="http://www.bluebearsoftware.co.uk" email="admin@bluebearsoftware.co.uk">Bernhard Hofmann</author>

 	<platform name="android">
		<icon src="assets/img/icon/icon192.png" width="192" height="192" />
		<icon src="assets/img/icon/icon192.png" width="192" height="192" density="xxxhdpi" />
		<icon src="assets/img/icon/icon144.png" width="144" height="144" density="xxhdpi" />
		<icon src="assets/img/icon/icon96.png" density="xhdpi" />
		<icon src="assets/img/icon/icon72.png" density="hdpi" />
		<icon src="assets/img/icon/icon48.png" density="mdpi" />
		<icon src="assets/img/icon/icon36.png" density="ldpi" />

		<splash src="assets/img/splash/splash.png" />
	</platform>

	<feature name="Notification">
		<param name="android-package" value="org.apache.cordova.Notification" />
	</feature>

	<preference name="orientation" value="portrait" />
</widget>
