<?xml version="1.0" encoding="UTF-8"?>
<widget id="io.cordova.hellocordova">
	<name>Locks</name>
	<description>Simple lock puzzle</description>
	<author href="http://www.bluebearsoftware.co.uk" email="admin@bluebearsoftware.co.uk">Bernhard Hofmann</author>

 	<platform name="android">
		<icon src="icon512.png" />
		<icon src="icon192.png" density="xxxhdpi" />
		<icon src="icon144.png" density="xxhdpi" />
		<icon src="icon96.png" density="xhdpi" />
		<icon src="icon72.png" density="hdpi" />
		<icon src="icon48.png" density="mdpi" />
		<icon src="icon36.png" density="ldpi" />

		<splash src="assets/img/splash/splash.png" />
	</platform>

	<feature name="Notification">
		<param name="android-package" value="org.apache.cordova.Notification" />
	</feature>

	<preference name="orientation" value="portrait" />
</widget>
