h1 {
	font-family:Verdana,Tahoma,Sans-Serif;
	font-size:14pt;
	font-weight:bold;
	text-align:center;
}

#game{margin-left:auto;margin-right:auto;}
td{background: #4C606B;}
.lock{background-color: #fff;text-align:center;cursor:pointer;}

#game.threeLocks{width:245px;}
td.threeLocks{height:75px;width:75px;}
.lock.threeLocks{width:75px;height:20px;}

#game.fourLocks{width:246px;display:none;}
td.fourLocks{height:55px;width:55px;}
.lock.fourLocks{width:55px;height:15px;}

.rotate90 {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -transition: all 200ms ease-in-out;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -transform: rotate(90deg);
}
.rotate0 {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -transition: all 200ms ease-in-out;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -transform: rotate(0deg);
}
.rotate90animated {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -transition: all 200ms ease-in-out;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -transform: rotate(90deg);
}
.rotate0animated {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -transition: all 200ms ease-in-out;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -transform: rotate(0deg);
}
#btnPlayToMenu {
	margin-top:1em;
}