#game {
	margin-left:auto;
	margin-right:auto;
    width:245px;
}
h1 {
    font-family:Verdana,Tahoma,Sans-Serif;
    font-size:14pt;
    font-weight:bold;
    text-align:center;
}
.rotate90
{
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -transition: all 200ms ease-in-out;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -transform: rotate(90deg);
}
.rotate0
{

    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -transition: all 200ms ease-in-out;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -transform: rotate(0deg);
}
td
{
    height: 75px;
    width: 75px;
    background: #4C606B;
}
.lock
{
    background-color: #fff;
    width: 75px;
    height: 20px;
    text-align:center;
    cursor:pointer;
}
#reset {
	margin-top:1em;
}