h1 {
	font-family:Verdana,Tahoma,Sans-Serif;
	font-size:14pt;
	font-weight:bold;
	text-align:center;
}

#gameboard {
	margin-left:auto;
	margin-right:auto;
	width:210px;
}

#game{margin-left:auto;margin-right:auto;}
td{background: #4C606B;}
.lock{background-color: #fff;text-align:center;cursor:pointer;}

.threeLocks td{height:70px;width:70px;}
.lock.threeLocks{width:100%;height:20px;}

#game.fourLocks{display:none;}
.fourLocks td{height:50px;width:50px;}
.lock.fourLocks{width:100%;height:15px;}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -transform: rotate(90deg);
}
.rotate0 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -transform: rotate(0deg);
}
.rotate90animated {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -transition: all 200ms ease-in-out;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -transform: rotate(90deg);
}
.rotate0animated {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -transition: all 200ms ease-in-out;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -transform: rotate(0deg);
}
#btnPlayToMenu {
	margin-top:1em;
}